In [2]:
import pandas as pd

df = pd.read_excel('Untitled spreadsheet.xlsx')

In [12]:
prefectures = []  # Initialize an empty list

for index, row in df.iterrows():
    prefectures.append({
        "id": row["ID"],
        "name": row["TITLE"],
        "have_been": row["HAVE_BEEN"],
    })

print(prefectures)

[{'id': 'JP-23', 'name': 'Aichi', 'have_been': 'YES'}, {'id': 'JP-05', 'name': 'Akita', 'have_been': 'NO'}, {'id': 'JP-02', 'name': 'Aomori', 'have_been': 'YES'}, {'id': 'JP-12', 'name': 'Chiba', 'have_been': 'YES'}, {'id': 'JP-38', 'name': 'Ehime', 'have_been': 'NO'}, {'id': 'JP-18', 'name': 'Fukui', 'have_been': 'NO'}, {'id': 'JP-40', 'name': 'Fukuoka', 'have_been': 'NO'}, {'id': 'JP-07', 'name': 'Fukushima', 'have_been': 'NO'}, {'id': 'JP-21', 'name': 'Gifu', 'have_been': 'YES'}, {'id': 'JP-10', 'name': 'Gunma', 'have_been': 'NO'}, {'id': 'JP-28', 'name': 'Hyogo', 'have_been': 'YES'}, {'id': 'JP-01', 'name': 'Hokkaido', 'have_been': 'YES'}, {'id': 'JP-34', 'name': 'Hiroshima', 'have_been': 'YES'}, {'id': 'JP-08', 'name': 'Ibaraki', 'have_been': 'NO'}, {'id': 'JP-17', 'name': 'Ishikawa', 'have_been': 'NO'}, {'id': 'JP-03', 'name': 'Iwate', 'have_been': 'NO'}, {'id': 'JP-39', 'name': 'Kochi', 'have_been': 'NO'}, {'id': 'JP-37', 'name': 'Kagawa', 'have_been': 'NO'}, {'id': 'JP-43', 'name': 'Kumamoto', 'have_been': 'NO'}, {'id': 'JP-14', 'name': 'Kanagawa', 'have_been': 'YES'}, {'id': 'JP-46', 'name': 'Kagoshima', 'have_been': 'NO'}, {'id': 'JP-26', 'name': 'Kyoto', 'have_been': 'YES'}, {'id': 'JP-24', 'name': 'Mie', 'have_been': 'YES'}, {'id': 'JP-04', 'name': 'Miyagi', 'have_been': 'NO'}, {'id': 'JP-45', 'name': 'Miyazaki', 'have_been': 'NO'}, {'id': 'JP-15', 'name': 'Niigata', 'have_been': 'NO'}, {'id': 'JP-20', 'name': 'Nagano', 'have_been': 'NO'}, {'id': 'JP-29', 'name': 'Nara', 'have_been': 'YES'}, {'id': 'JP-42', 'name': 'Nagasaki', 'have_been': 'NO'}, {'id': 'JP-47', 'name': 'Okinawa', 'have_been': 'NO'}, {'id': 'JP-27', 'name': 'Osaka', 'have_been': 'YES'}, {'id': 'JP-33', 'name': 'Okayama', 'have_been': 'NO'}, {'id': 'JP-41', 'name': 'Saga', 'have_been': 'NO'}, {'id': 'JP-25', 'name': 'Shiga', 'have_been': 'NO'}, {'id': 'JP-32', 'name': 'Shimane', 'have_been': 'NO'}, {'id': 'JP-11', 'name': 'Saitama', 'have_been': 'NO'}, {'id': 'JP-22', 'name': 'Shizuoka', 'have_been': 'NO'}, {'id': 'JP-09', 'name': 'Tochigi', 'have_been': 'NO'}, {'id': 'JP-13', 'name': 'Tokyo', 'have_been': 'YES'}, {'id': 'JP-36', 'name': 'Tokushima', 'have_been': 'NO'}, {'id': 'JP-31', 'name': 'Tottori', 'have_been': 'NO'}, {'id': 'JP-16', 'name': 'Toyama', 'have_been': 'NO'}, {'id': 'JP-30', 'name': 'Wakayama', 'have_been': 'NO'}, {'id': 'JP-35', 'name': 'Yamaguchi', 'have_been': 'NO'}, {'id': 'JP-19', 'name': 'Yamanashi', 'have_been': 'NO'}, {'id': 'JP-06', 'name': 'Yamagata', 'have_been': 'NO'}]

In [9]:
prefectures

[{'id': 0     JP-23
  1     JP-05
  2     JP-02
  3     JP-12
  4     JP-38
  5     JP-18
  6     JP-40
  7     JP-07
  8     JP-21
  9     JP-10
  10    JP-28
  11    JP-01
  12    JP-34
  13    JP-08
  14    JP-17
  15    JP-03
  16    JP-39
  17    JP-37
  18    JP-43
  19    JP-14
  20    JP-46
  21    JP-26
  22    JP-24
  23    JP-04
  24    JP-45
  25    JP-15
  26    JP-20
  27    JP-29
  28    JP-42
  29    JP-47
  30    JP-27
  31    JP-33
  32    JP-41
  33    JP-25
  34    JP-32
  35    JP-11
  36    JP-22
  37    JP-09
  38    JP-13
  39    JP-36
  40    JP-31
  41    JP-16
  42    JP-30
  43    JP-35
  44    JP-19
  45    JP-06
  Name: ID, dtype: object,
  'name': 0         Aichi
  1         Akita
  2        Aomori
  3         Chiba
  4         Ehime
  5         Fukui
  6       Fukuoka
  7     Fukushima
  8          Gifu
  9         Gunma
  10        Hyogo
  11     Hokkaido
  12    Hiroshima
  13      Ibaraki
  14     Ishikawa
  15        Iwate
  16        Kochi
  17       Kagawa
  18     Kumamoto
  19     Kanagawa
  20    Kagoshima
  21        Kyoto
  22          Mie
  23       Miyagi
  24     Miyazaki
  25      Niigata
  26       Nagano
  27         Nara
  28     Nagasaki
  29      Okinawa
  30        Osaka
  31      Okayama
  32         Saga
  33        Shiga
  34      Shimane
  35      Saitama
  36     Shizuoka
  37      Tochigi
  38        Tokyo
  39    Tokushima
  40      Tottori
  41       Toyama
  42     Wakayama
  43    Yamaguchi
  44    Yamanashi
  45     Yamagata
  Name: TITLE, dtype: object,
  'have_been': 'No'}]

In [1]:
print(df)

NameError: name 'df' is not defined

In [12]:
import sqlite3
conn = sqlite3.connect('travels.db')
cursor = conn.cursor()

cursor.execute("Select * from japan")
japan = cursor.fetchall()

conn.commit()
cursor.close()
conn.close()

In [3]:
import pandas as pd
df=pd.read_excel("Untitled spreadsheet.xlsx")

In [13]:
print(japan)

[('JP-23', 'Aichi', 'YES'), ('JP-05', 'Akita', 'NO'), ('JP-02', 'Aomori', 'YES'), ('JP-12', 'Chiba', 'YES'), ('JP-38', 'Ehime', 'NO'), ('JP-18', 'Fukui', 'NO'), ('JP-40', 'Fukuoka', 'NO'), ('JP-07', 'Fukushima', 'NO'), ('JP-21', 'Gifu', 'YES'), ('JP-10', 'Gunma', 'NO'), ('JP-28', 'Hyogo', 'YES'), ('JP-01', 'Hokkaido', 'YES'), ('JP-34', 'Hiroshima', 'YES'), ('JP-08', 'Ibaraki', 'NO'), ('JP-17', 'Ishikawa', 'NO'), ('JP-03', 'Iwate', 'NO'), ('JP-39', 'Kochi', 'NO'), ('JP-37', 'Kagawa', 'NO'), ('JP-43', 'Kumamoto', 'NO'), ('JP-14', 'Kanagawa', 'YES'), ('JP-46', 'Kagoshima', 'NO'), ('JP-26', 'Kyoto', 'YES'), ('JP-24', 'Mie', 'YES'), ('JP-04', 'Miyagi', 'NO'), ('JP-45', 'Miyazaki', 'NO'), ('JP-15', 'Niigata', 'NO'), ('JP-20', 'Nagano', 'NO'), ('JP-29', 'Nara', 'YES'), ('JP-42', 'Nagasaki', 'NO'), ('JP-47', 'Okinawa', 'NO'), ('JP-27', 'Osaka', 'YES'), ('JP-33', 'Okayama', 'NO'), ('JP-41', 'Saga', 'NO'), ('JP-25', 'Shiga', 'NO'), ('JP-32', 'Shimane', 'NO'), ('JP-11', 'Saitama', 'NO'), ('JP-22', 'Shizuoka', 'NO'), ('JP-09', 'Tochigi', 'NO'), ('JP-13', 'Tokyo', 'YES'), ('JP-36', 'Tokushima', 'NO'), ('JP-31', 'Tottori', 'NO'), ('JP-16', 'Toyama', 'NO'), ('JP-30', 'Wakayama', 'NO'), ('JP-35', 'Yamaguchi', 'NO'), ('JP-19', 'Yamanashi', 'NO'), ('JP-06', 'Yamagata', 'NO')]

In [4]:
import sqlite3

conn = sqlite3.connect('travels.db')
c = conn.cursor()
query = f"""SELECT * FROM japan"""
c.execute(query)
data = c.fetchall()
conn.close()

In [6]:
data

[('JP-23', 'Aichi', 'YES'),
 ('JP-05', 'Akita', 'NO'),
 ('JP-02', 'Aomori', 'YES'),
 ('JP-12', 'Chiba', 'YES'),
 ('JP-38', 'Ehime', 'NO'),
 ('JP-18', 'Fukui', 'NO'),
 ('JP-40', 'Fukuoka', 'NO'),
 ('JP-07', 'Fukushima', 'NO'),
 ('JP-21', 'Gifu', 'YES'),
 ('JP-10', 'Gunma', 'NO'),
 ('JP-28', 'Hyogo', 'YES'),
 ('JP-01', 'Hokkaido', 'YES'),
 ('JP-34', 'Hiroshima', 'YES'),
 ('JP-08', 'Ibaraki', 'NO'),
 ('JP-17', 'Ishikawa', 'NO'),
 ('JP-03', 'Iwate', 'NO'),
 ('JP-39', 'Kochi', 'NO'),
 ('JP-37', 'Kagawa', 'NO'),
 ('JP-43', 'Kumamoto', 'NO'),
 ('JP-14', 'Kanagawa', 'YES'),
 ('JP-46', 'Kagoshima', 'NO'),
 ('JP-26', 'Kyoto', 'YES'),
 ('JP-24', 'Mie', 'YES'),
 ('JP-04', 'Miyagi', 'NO'),
 ('JP-45', 'Miyazaki', 'NO'),
 ('JP-15', 'Niigata', 'NO'),
 ('JP-20', 'Nagano', 'NO'),
 ('JP-29', 'Nara', 'YES'),
 ('JP-42', 'Nagasaki', 'NO'),
 ('JP-47', 'Okinawa', 'NO'),
 ('JP-27', 'Osaka', 'YES'),
 ('JP-33', 'Okayama', 'NO'),
 ('JP-41', 'Saga', 'NO'),
 ('JP-25', 'Shiga', 'NO'),
 ('JP-32', 'Shimane', 'NO'),
 ('JP-11', 'Saitama', 'NO'),
 ('JP-22', 'Shizuoka', 'NO'),
 ('JP-09', 'Tochigi', 'NO'),
 ('JP-13', 'Tokyo', 'YES'),
 ('JP-36', 'Tokushima', 'NO'),
 ('JP-31', 'Tottori', 'NO'),
 ('JP-16', 'Toyama', 'NO'),
 ('JP-30', 'Wakayama', 'NO'),
 ('JP-35', 'Yamaguchi', 'NO'),
 ('JP-19', 'Yamanashi', 'NO'),
 ('JP-06', 'Yamagata', 'NO')]